@page "/"

<PageTitle>Home</PageTitle>
<div>
    <h1>Technical Aptitude Assessment</h1>

    <p>Welcome to the AAT Reach Technical Aptitude Assessment.</p>

    <p>The purpose of this assessment is to measure your skill level in the following categories:</p>
    <ul>
        <li>Object Orientated Programming in <a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank">C#.Net</a></li>
        <li>Proficiency in <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a></li>
        <li>Standard Programming Best Practices</li>
        <li>Performance, Reliability and Efficiency in Multi Threading</li>
        <li>Performance, Reliability and Efficiency in Data Storage</li>
    </ul>

    <p>While doing the assessment please keep in mind that we will score your submission based on the following criteria:</p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Object-oriented_programming" target="_blank">Object Orientated Programming Principles (Microsoft Standards)</a></li>
        <li><a href="https://medium.com/@@hlfdev/kiss-dry-solid-yagni-a-simple-guide-to-some-principles-of-software-engineering-and-clean-code-05e60233c79f" target="_blank">Principals: SOLID, DRY, KISS, Anti Patterns, YAGNI</a></li>
        <li><a href="https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/coding-style/identifier-names" target="_blank">Naming Conventions and Coding Standards (Microsoft Standards)</a></li>
        <li>Did your code compile out the box?</li>
        <li>Did you submission run out the box?</li>
        <li>Did we have to fix your bugs before we can review you code?</li>
        <li>If there were nuances around your submission, did you document it?</li>
        <li>Did you complete all the tasks in the request?</li>
    </ul>

    <h6>Task 1 - Threading &amp; Data Persistence: <NavLink class="nav-link" href="threading">View Task 1</NavLink></h6>
    <h6>Task 2 - Results &amp; Data Retrieval: <NavLink class="nav-link" href="results">View Task 2</NavLink></h6>
</div>
